[submodule "themes/hestia-pure"]
	path = themes/hestia-pure
	url = https://github.com/diwao/hestia-pure.git
[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = https://github.com/themefisher/airspace-hugo.git
